.panel-body
{
	box-shadow: none;
}

.doc > div
{
	padding: 10px 0;
}

.dataTable
{
	width: 100%;
}

.dataTable th
{
	padding: 10px;
	font-size: 13px;
	border: 1px solid #dfdfdf;
}

.dataTable td
{
	padding: 10px;
	font-size: 13px;
	border: 1px solid #dfdfdf;
}

.dataTable .left
{
	text-align: left;
}

.dataTable .center
{
	text-align: center;
}

.dataTable .right
{
	text-align: right;
}

.content-header
{
	font-size: 17px;
	font-weight: bold;
	
	margin: 50px 0 10px 0;
	padding-left: 5px;	
}

.content-header:FIRST-CHILD
{
	margin-top: 10px;
}

.content-code
{
	background-color: #fefefe;
}

form
{
	font-size: 12px;
}

form label
{
	margin:0 3px;
	font-size: 12px;
	font-weight: normal;
}

input[type='text'], textarea
{
	padding: 5px;
	border: 1px solid #dfdfdf;
}

h3
{
	margin-top: 30px;
}


#contentList li, #contentList ul
{
	list-style: none;
}

#contentList li
{
	margin:5px 0;
	padding-left: 10px;
}

#contentList ul
{
	padding-left: 20px;
}

#contentList li a
{
	color:#666;
}

#contentList li.selected
{
	border-left: 2px solid #337ab7;	
}

#contentList li.selected a
{
	color:#337ab7;
}