*
{
	color: #565656;
	font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
}

.container, .container-fluid
{
	padding:0;
}

.nav-header
{
	background-color: #fefefe;
}

.nav-header .navbar
{
	background: #fefefe;
	border-radius:0;
	box-shadow:none;
	border:0;
	margin:0;
}

.navbar-default .navbar-nav>.active>a
{
	background: #e7e7e7;
	box-shadow: none;
}

.navbar-brand, .navbar-nav>li>a
{
	text-shadow: none;
}

.navbar-default .navbar-brand
{
	font-size:22px;
	color:#444;
}

.jumbotron
{
	background-color: #183F66;
}

.jumbotron h1, .jumbotron p
{
	color: #efefef;
}

.jumbotron p
{
	margin:15px 0;
}

.jumbotron p
{
	font-size:17px;
}

.btn
{
	border-radius:0;
}

.btn-outline
{
	color: #efefef;
	background-color: transparent;
	border-color:#dfdfdf;
}

.btn-outline:HOVER {
	background-color: #efefef;
	border-color: #a0a0a0;
	color:#333;
}

.btn-outline span
{
	font-size:18px;
}

.btn-outline span, .btn-outline small
{
	color: inherit;
}

.btn-outline small
{
	font-size:12px;
}

.btn-outline.black
{
	color:#555;
}

.btn-outline.black:HOVER
{
	color:black;
}

.doc
{
	padding:15px 0;
}

.doc h2
{
	font-size:24px;
}

.doc h3
{
	font-size:20px;
}

.doc h4
{
	font-size: 16px;
}

.feature
{
	font-size:0;
}

.feature > div
{
	display:inline-block;
	width:15%;
	font-size:15px;
	vertical-align: top;
}

.feature > div:FIRST-CHILD
{
	width: 85%;
	padding-right: 10px;
}

.feature > div p
{
	margin:0;
	padding: 10px 0;
}

.feature .right
{
	text-align: center;
}

footer
{
	border-top: 1px solid #dfdfdf;
	text-align: center;
	padding: 40px;
	clear: both;
}

footer p
{
	margin:0;
	padding: 2px 0;
}

footer p a
{
	margin:0 2.5px;
}

.description li
{
	font-size: 15px;
	padding: 10px;
}