.top
{
	margin: 15px 0;
	padding: 5px 0;
	text-align: center;
}

.penname
{
	color:white;
	font-size: 17px;
}

.penname:ACTIVE, .penname:FOCUS, .penname:HOVER
{
	color:white;
}

.profileImg
{
	max-height: 400px;
	overflow: hidden;
}

.profileImg > img
{
	width: 100%;
}

.blogTitle
{
	font-size: 25px;
}

.blogDescription
{
	font-size: 15px;
	padding: 15px 0;
}

.list-group-item.active a
{
	color:#fff;
}

.badge
{
	background-color: #969696;
	margin: 0 5px;
	float:right;
}

.list-group-item.active a .badge
{
	background-color: #fefefe;
	color:#337ab7;
}

.subject
{
	display: inline-block;
	margin:0 5px;
	
	vertical-align: middle;
}

.boardName
{
	border-radius:5px;
	padding:5px 7px;
	font-size:12px;
	font-weight:600;
	
	vertical-align: middle;
}

.panel-default .panel-heading
{
	background: white;
}

.panel-default .boardName
{
	background-color: #777;
	color: white;
}

.boardInfo
{
	float: right;
	position: relative;
	top:3px;
}

.boardInfo span
{
	font-size: 11px;
	color: #666;
	margin:0 3px;
}

.panel-primary .boardInfo span
{
	color:white;
}

.corver
{
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}