.subject, .tag
{
	width: 100%;
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 10px;
	
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
	
	outline:0;
	border:0;
	background: transparent;
}

.tag
{
	width: 100%;
	font-size: 15px;
}

.typewriter-content
{
	height: 500px;
	overflow: auto;
}