.championSquareBox
{
	display: inline-block;
	position: relative;
	margin: 5px;
}

.championSquare
{
	width: 78.4px;
	height: 78.4px;
	outline: 1px solid #ccc;
}

#championList
{
	-webkit-user-select: none;
	margin-top: -5px;
}

.championName
{
	position: absolute;
	height: 20px;
	bottom:0;
	left:0;
	right:0;
	
	line-height: 20px;
	
	background-color: rgba(0, 0, 0, 0.7);
	
	color: white;
	
	font-size: 11px;
	text-align: center;
}

.position
{
	padding: 5px 0;
}

.position > div
{
	display: inline-block;
	vertical-align: middle;
}

.position > div:FIRST-CHILD
{
	width: 45%;
	text-align: center;
}

.position > div:LAST-CHILD
{
	position: relative;
}

.animated { 
    -webkit-animation-duration: 2s; 
    animation-duration: 2s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: linear; 
    animation-timing-function: linear; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
} 

@-webkit-keyframes rotateOut { 
    0% { 
        -webkit-transform-origin: center center; 
        -webkit-transform: rotate(0); 
    } 
    100% { 
        -webkit-transform-origin: center center; 
        -webkit-transform: rotate(360deg); 
    } 
} 
@keyframes rotateOut { 
    0% { 
        transform-origin: center center; 
        transform: rotate(0); 
    } 
    100% { 
        transform-origin: center center; 
        transform: rotate(360deg); 
    } 
} 
.rotateOut { 
    -webkit-animation-name: rotateOut; 
    animation-name: rotateOut; 
}