.answer-area
{
    border-top: 1px dotted #bfbfbf;
    border-bottom: 1px dotted #bfbfbf;
    padding: 0 10px;
    background-color: #f8f8f8;
    margin-bottom: 5px;
}

.answer-area p
{
	margin:0;
	padding: 10px 5px;
	padding-right: 40px;
	border-top: 1px dotted #dfdfdf;
}

.answer-area p:FIRST-CHILD
{
	border-top:0;
}

.answer-area p:FIRST-CHILD
{
	border:0;
}

.commentConent
{
	width: 90%;
	height:100px;
	border: 1px solid #ccc;
	border-right:0;
	font-size:13px;
	vertical-align:top;
	resize:none;
}

.writeCommentBtn
{
	width: 10%;
	height:100px;
	vertical-align:top;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
}

.deleteComment
{
	position: absolute;
	right: 5px;
	top: 13px;
	font-size:12px;
	color: #666;
	cursor: pointer;
}

.deleteComment:HOVER
{
	text-decoration: underline;	
}