*
{
	color: #565656;
}

.btn
{
	border-radius:0;
}

.btn-outline
{
	color: #efefef;
	background-color: transparent;
	border-color:#dfdfdf;
}

.btn-outline:HOVER {
	background-color: #efefef;
	border-color: #a0a0a0;
	color:#333;
}

.btn-outline span
{
	font-size:18px;
}

.btn-outline span, .btn-outline small
{
	color: inherit;
}

.btn-outline small
{
	font-size:12px;
}

.btn-outline.black
{
	color:#555;
}

.btn-outline.black:HOVER
{
	color:black;
}