body
{
	width:100%;
	height:100%;
	background-color: #fefefe;
}

*
{
	font-size:15px;
}

p
{
	padding:5px 0;
}

p label
{
	display: inline-block;
	text-align: right;
	padding: 0 20px;
}

p input
{
	padding: 5px;
	box-sizing: border-box;
}

.tab-content
{
	padding: 5px;
}

.tabs
{
	background-color: white;
}

.tabs .tab.selected
{
	border-bottom: 2px solid #fefefe;
	background-color: #fefefe
}

.tabs
{
	text-align: center;
}

.tabs .tab
{
	font-size:13px;
}

.datatable
{
	width: 100%;
	background-color: white;
	border: 1px solid #dfdfdf;
	border-spacing:0px;
}

.datatable thead th
{
	text-align: center;
	font-weight: bold;
	padding: 10px;
	border-bottom: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
}

.datatable thead th:FIRST-CHILD {
	border-left:0;
}

.datatable tbody td
{
	padding: 10px;
	border-left: 1px solid #dfdfdf;
	border-top: 1px dashed #dfdfdf;
}

.datatable tbody .new td
{
	background-color: #EAF6FF;
}

.datatable tbody tr td:FIRST-CHILD
{
	padding-left: 15px;
}

.datatable tbody td.left
{
	text-align: left;
}

.datatable tbody td.center
{
	text-align: center;
}

.datatable tbody td.right
{
	text-align: right;
}

.datatable tbody td:FIRST-CHILD
{
	border-left:0;
}

.datatable tbody tr:FIRST-CHILD td
{
	border-top:0;	
}