body
{
	width:100%;
	height:100%;
	background-color: #fefefe;
}

.dataTable
{
	width: 100%;
	
	background-color: white;
}

.dataTable th
{
	padding: 10px;
	font-size: 13px;
	border: 1px solid #dfdfdf;
}

.dataTable td
{
	padding: 10px;
	font-size: 13px;
	border: 1px solid #dfdfdf;
}

.dataTable .left
{
	text-align: left;
}

.dataTable .center
{
	text-align: center;
}

.dataTable .right
{
	text-align: right;
}

.dataTable input[type='text'], input[type='number']
{
	padding: 5px;
}

.panel-primary .panel-footer
{
	background-color: #337ab7;
}

.textinput
{
	border: 1px solid #dfdfdf;
	padding: 10px;
	background-color: white;
}

.textinput.default:ACTIVE, .textinput.default:FOCUS
{
	outline: 2px solid #797979;
}

.textinput[readonly='readonly']
{
	outline:0 !important;
	background-color: #f7f7f7;
}

.textinput.default::-webkit-input-placeholder { color:#aaa; }
.textinput.default::-moz-placeholder { color:#aaa; }
.textinput.default::-ms-input-placeholder { color:#aaa; }
.textinput.default::-moz-placeholder { color:#aaa; }