#menu
{
	width:80%;
	text-align: right;
}

#menu > button
{
	margin-top:20px;
}

#menu ul
{
	border: 1px solid #c8c8c8;
	border-radius:5px;
	padding:20px;
	margin-top:5px;
	text-align: left;
}

#menu li
{
	position:relative;
	padding:10px;
	margin:10px;
	height:40px;
}

#menu li > div
{
	position:absolute;
	right:0;
	top:3px;
}

#menu li > span
{
	display:inline-block;
	vertical-align: middle;
	width:50%;
	height:20px;
	border: 1px solid #dedede;
}

#menuList span[contenteditable]
{
	margin-right: 5px;
 	border: 1px solid #E0E0E0;
 	vertical-align: middle;
 	background-color: #FFFDEC;
}